@import "./scss/partials/contacto";
@import "./scss/partials/galeria";
@import "./scss/partials/index";
@import "./scss/partials/nosotros";
@import "./scss/partials/productos";
@import "./scss/sass2/extend";
@import "./variables/variables";

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}