$size: 20px;
$fondo-de-color: gray;
$fondo-de-color2: rgb(137, 137, 232);
$ancho: 100%;
$vista: 1024px;
$tipo-de-letra: verdana;
$color1: red;
$color2: #4285f4;
$color3: yellow;
$color4: green;
$color5: white;
$alinear-al-centro: center;
$footer: rgb(155, 155, 224);
$h1Desktop: 25px;